.App {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  background-color: #efefef;
}

.AppWrapper {
  display: grid;
  grid-template-areas: "pic bud out";
  grid-template-columns: 3fr 6fr 3fr;
  height: 100%;
  width: 100%;
}
.loader {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

.glass {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.glass img {
  width: 50px;
}

.profileAppWrapper {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  grid-area: bud;
  align-items: center;
  flex-wrap: wrap;
}

.componentAside {
  width: 100%;
  height: 100%;
  display: flex;
  grid-area: out;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.menuBar {
  grid-area: pic;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 100vh;
}

.menuBar__container {
  border-bottom: 2px solid rgb(207, 198, 198);
  border-top: 2px solid rgb(207, 198, 198);
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 340px;
  margin-top: 30px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
}

.menuBar__container a {
  text-decoration: none;
  font-weight: bold;
}

.menuBar__container img {
  opacity: 0.7;
}

.menuBar__container a:visited {
  color: black;
}

.menuBar a:hover {
  transform: scale(1.1);
  transition: 0.25s;
  background-color: rgba(152, 215, 233, 0.6);
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 8px;
}

.menuBar a {
  padding-bottom: 5px;
  padding-top: 5px;
  color: black;
}

.menuButtons button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menuButtons button:hover {
  transition: 0.25s;
  transform: scale(1.05);
}

.menuButtons__logOut {
  background: black;
  width: 100%;
}

.menuButtons__deleteAccount {
  background: #dc0000;
  opacity: 0.75;
  width: 100%;
}
