@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600;800&display=swap");

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 15px;
  padding-bottom: 20px;
  .LogoContainer {
    position: relative;
    left: -15px;
    width: 100%;
    max-width: 150px;
    height: 60px;
    padding: 120px 0px 35px 0px;
  }
  .LogoContainer img {
    height: 60px;
  }
  .login {
    font-size: 24px;
    font-weight: 800;
    font-family: Raleway;
    padding-bottom: 20px;
  }
  .loginContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    padding: 0px 60px;
    font-weight: 100;
    color: #adadad;
    .inputContainer {
      position: relative;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      padding-bottom: 30px;
      .loginLable {
        position: absolute;
        top: 15px;
        left: 15px;
        font-family: Raleway;
      }
      .loginInput {
        background-color: #f7f7f7;
        width: 210px;
        padding-left: 15px;
        border-radius: 12px;
        font-size: 18px;
      }
      .loginError {
        background-color: #f7f7f7;
        width: 210px;
        padding-left: 15px;
        border-radius: 12px;
        font-size: 18px;
        border: 1px solid red;
      }
      .loginCheckbox {
        position: relative;
        left: 30px;
        top: -5px;
        // padding: 0px 0px 3px 30px;
        color: black;
      }
    }
    .inputWrapper {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .loginInputType {
        position: absolute;
        border: 2px solid red;
        top: 0px;
        left: 10px;
      }
    }
    .inputError {
      position: absolute;
      left: 15px;
      top: 55px;
      color: red;
      font-weight: 400;
      font-size: 12px;
    }
    .buttonContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      height: 240px;
      color: black;
      .loginButton {
        margin: 0px;
        background-color: black;
        cursor: pointer;
        width: 210px;
      }
    }
  }
}
.containerBlack {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #3d4650;
  border-radius: 15px;
  padding-bottom: 20px;
  .LogoContainer {
    position: relative;
    left: -15px;
    width: 100%;
    max-width: 150px;
    height: 60px;
    padding: 120px 0px 35px 0px;
  }
  .LogoContainer img {
    height: 60px;
  }
  .login {
    font-size: 24px;
    font-weight: 800;
    font-family: Raleway;
    padding-bottom: 20px;
  }
  .loginContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    padding: 0px 60px;
    font-weight: 100;
    color: #adadad;
    .inputContainer {
      position: relative;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      padding-bottom: 30px;
      .loginLable {
        position: absolute;
        top: 15px;
        left: 15px;
        font-family: Raleway;
      }
      .loginInput {
        background-color: #f7f7f7;
        width: 210px;
        padding-left: 15px;
        border-radius: 12px;
        font-size: 18px;
      }
      .loginError {
        background-color: #f7f7f7;
        width: 210px;
        padding-left: 15px;
        border-radius: 12px;
        font-size: 18px;
        border: 1px solid red;
      }
      .loginCheckbox {
        position: relative;
        left: 30px;
        top: -5px;
        // padding: 0px 0px 3px 30px;
        color: black;
      }
    }
    .inputWrapper {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .loginInputType {
        position: absolute;
        border: 2px solid red;
        top: 0px;
        left: 10px;
      }
    }
    .inputError {
      position: absolute;
      left: 15px;
      top: 55px;
      color: red;
      font-weight: 400;
      font-size: 12px;
    }
    .buttonContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      height: 240px;
      color: black;
      .loginButton {
        margin: 0px;
        background-color: black;
        cursor: pointer;
        width: 210px;
      }
    }
  }
}

.inputContainer svg {
  position: absolute;
  left: 170px;
  top: 15px;
}
.loginLableHidden {
  display: none;
}

.inputContainer input:not([type="checkbox"]) {
  height: 50px;
  border: 1px solid black;
}
